@import url("./base/reset.css");
@import url("./base/variaveis.css");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Freeman&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: var(--cor-primaria);
  background-image: url("../img/Background.png");
}
body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: var(--cor-secundaria); 
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-texto);
  border-radius: 20px;
}
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  background-color: var(--cor-primaria);
  padding: 0.6rem;
  border-bottom: 2px solid var(--cor-secundaria);
  
}
.nav-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0 30px 0 30px;
}

.nav-link {
  font-family: "Do Hyeon";
  color: var(--cor-secundaria);
  font-size: 25px;
}

.nav-link:hover {
  color: var(--cor-texto);
}
.container {
  width: 100vw;
  padding-top: 6%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 2rem;
}
.conteudo{
  padding: 1rem 3rem 4rem 0;  
}

h1 {
  font-family: "Do Hyeon", sans-serif;
  color: var(--cor-secundaria);
  font-size: 50px;
  padding-bottom: 20px;
}

#nome-autor::after {
  content: "|";
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.resumoBio {
  width: 640px;
  height: 210px;
  font-family: Lato;
  color: var(--cor-texto);
  font-size: 24px;
  display: flex;
  text-align: justify;
}
p {
    font-family: Lato;
    font-size: 24px;
    color: var(--cor-texto);
    text-align: center;
    line-height: 30px;
    padding: 0 1.5rem 2rem 0;

}
.imagemEu {
  width: 300px;
  height: 400px;
  border: 5px solid var(--cor-secundaria);
  border-radius: 16px;
  padding: 16px;
  
}
#img {
  border-radius: 16px;
  width: 300px;
}
.botao-container{
  width: 600px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a{
  color: var(--cor-texto);
  font-family: Lato;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  
}
.redes{
  height: 58px;
  width: 180px; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--cor-secundaria);
  border-radius: 8px;
  margin: 1rem;
   
}
.redes:hover{
  text-decoration: none;
  color: var(--cor-secundaria);
}
.titulo{
  font-family: "Do Hyeon", sans-serif;
  color: var(--cor-secundaria);
  font-size: 50px;
  padding-bottom: 20px;
}
.subtitulo{
  color: var(--cor-texto);
}

.rodape{
  background-color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3%;
  flex-direction: column;
  gap: 1rem;
}
.logo__alura{
  width: 100px;
}
.footer, #rodape{
  color: var(--cor-primaria);
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

